/* .titulo-principal{
    text-align: center;
    margin: 25px 0px 0px 25px;
}
#parrafo-principal{

    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    font-size: 40px;

} */

.lbl-user{
    margin: 0.5rem 1rem;
}